<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ltk.core.refactoring.refactoringContributions">

    <contribution class="edu.cuny.citytech.foreachlooptolambda.ui.contributions.ForeachLoopToLambdaRefactoringContribution"
    id="org.eclipse.enhanced.forloop.to.lambda.contribution" />
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command categoryId="org.eclipse.jdt.ui.category.refactoring"
    description="Convert all enhanced for loops in this element to corresponding lambda expressions."
    id="org.eclipse.enhanced.forloop.to.lambda.command"
    name="Convert Enhanced For Loop To Lambda"/> 
  </extension>
  
  <extension point="org.eclipse.ui.handlers">
    <handler class="edu.cuny.citytech.foreachlooptolambda.ui.handlers.ForeachLoopToLambdaHandler"
    commandId="org.eclipse.enhanced.forloop.to.lambda.command">

       <activeWhen> 
	      <with variable="selection">
          <iterate ifEmpty="false" operator="or">
            <!-- [rk] TODO: We'll probably need a compilation unit here as well. #1 -->
            <instanceof value="org.eclipse.jdt.core.IMethod">
            </instanceof>
          </iterate>
        </with>
      </activeWhen>  
    </handler>
  </extension>
  <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="org.eclipse.core.resources.problemmarker"
         class="org.eclipse.escript.quickfix.QuickFixer"/>
   </extension>
  <extension point="org.eclipse.ui.menus">
    <!-- [rk] Doesn't seem to be working -->
    <menuContribution locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?after=additions">

      <command commandId="org.eclipse.enhanced.forloop.to.lambda.command"
      mnemonic="S"
      id="org.eclipse.enhanced.forloop.to.lambda.menus.command">

        <visibleWhen checkEnabled="true"></visibleWhen>
      </command>
    </menuContribution>
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.refactoring.menu?after=additions">

      <command commandId="org.eclipse.enhanced.forloop.to.lambda.command"
      style="push">
        <visibleWhen checkEnabled="true"></visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <!-- [rk] This is deprecated #2. -->
  <!-- [bm] we need to use actionSets for the Refactoring main menu as o.e.ui.menus is not capable of adding commands to actionsets -->
  
  </plugin>
